@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Source+Code+Pro&family=Source+Sans+Pro:wght@300&display=swap');

/* General */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #d8e3fa;
}

li, a, button, ul{
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #7fa7fd;
    text-decoration: none;
    
}

.header li, .header a, .header button, .header ul{
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #7fa7fd;
    text-decoration: none;
    background-color: #eff4ff;
    
}

body{
   position: relative;
   
}
main{
    padding-bottom: 300px;
    min-height: 100vh;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #eff4ff;
    width: 100%;
}
h2{
    color: #a7c3ff;
    font-family: "Montserrat";
    text-align: center;
    font-size: 30px;
    
}
P{
    text-align: center;
}

/* HEADER */


.header__logo{
    cursor: pointer;
    max-width: 60%;
    background-color: #eff4ff;
}
.nav__links{
    list-style: none;
}
.nav__links li{
    display:inline-block;
    padding: 0px 20px;

}
.nav__links li a{
    transition: all 0.3s ease 0s;
}
.nav__links li a:hover{
    color: #125dfd;
}

.cta button {
    padding: 9px 25px;
    color: white;
    background-color: rgba(91, 148, 253, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.cta button:hover{
    background-color: rgba(91, 148, 253, .8);;
}








/* FOOTER */

.footer{
    text-align: center;
    bottom: 0;
    width: 100%;
}

.footer__logo{
    max-width: 5%;
    margin-top: 20px;
    
}

.footer__social{
    
    margin-bottom: 10px;
}

.footer__social-item{

display: inline-block;
padding: 10px;
}

.footer__social-link{

font-size: 20px;
}

.footer__links{
    list-style: none;
    padding-bottom: 20px;
}
.footer__links li{
    display:inline-block;
    padding: 0px 20px;

}

.footer__social li a,
.footer__links li a{
    transition: all 0.3s ease 0s;
}
.footer__social li a:hover,
.footer__links li a:hover{
    color: #a90000;
}


img{
    max-width: 40%;
    text-align: center;
}