@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@font-face {
    font-family: shadow;
    src: url(../Fonts/ShadowendPersonalUse-eZOZn.ttf);
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
/* General */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252a;
}

li, a, button, ul{
    font-family: shadow;
    font-size: 30px;
    color: #edf0f1;
    text-decoration: none;
    
}

body{
   position: relative;
   
}
main{

    min-height: 100vh;
}
header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 5px;
    background-color: #24252a;
    width: 100%;
}
h2{
    color: #a90000;
    font-family: "Nosifer";

    font-size: 30px;
    
}
p{
    color: rgb(255, 255, 255);
    font-weight: 700;
    padding: 20px 20px;
    font-family: 'Roboto', sans-serif;
    background-position: center;
}

/* HEADER */


.header__logo{
    cursor: pointer;
    margin-right: auto;
    max-width: 10%;
    max-height: 10%;
}
.nav__links{
    list-style: none;
}
.nav__links li{
    display:inline-block;
    padding: 0px 10px;

}
.nav__links li a{
    transition: all 0.3s ease 0s;
}
.nav__links li a:hover{
    color: #a90000;
}


/* MAIN */
.main__section-left{
    display: flex;
    border: 2px solid black;
    margin: 20px 20px;
}

.main__section-right{
    display: flex;
    border: 2px solid black;
    margin: 20px 20px;
}

.section__img-left{
    max-width: 15%;
    background-color: #3b3b3b;
}
.section__img-right{
    max-width: 18%;
    background-color: #3b3b3b;

}
.section__p-left{

}
.section__p-right{

}





/* FOOTER */

.footer{
    text-align: right;
    bottom: 0;
    width: 100%;
   
    
}

.footer__logo{
    max-width: 10%;
    margin-top: 20px;
    float: left;
    
}

.footer__logo2{
    max-width: 7%;
    float: left;
}

/* SOCIAL LINKS */

.footer__social{
    
    margin-bottom: 10px;
}

.footer__social-item{

display: inline-block;
padding: 10px;
}

.footer__social-link{

font-size: 20px;
}

.footer__links{
    list-style: none;
    padding-bottom: 20px;
}
.footer__links li{
    display:inline-block;
    padding: 0px 10px;

}

.footer__social li a,
.footer__links li a{
    transition: all 0.3s ease 0s;
}
.footer__social li a:hover,
.footer__links li a:hover{
    color: #a90000;
}
