@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@font-face {
    font-family: shadow;
    src: url(../Fonts/ShadowendPersonalUse-eZOZn.ttf);
}

/* General */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252a;
}

li, a, button, ul{
    font-family: shadow;
    font-size: 30px;
    color: #edf0f1;
    text-decoration: none;
    
}

body{
   position: relative;
   
}
main{

    min-height: 100vh;
}
header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 5px;
    background-color: #24252a;
    width: 100%;
}
h2{
    color: #a90000;
    font-family: "Nosifer";
    
    font-size: 30px;
    
}

/* HEADER */


.header__logo{
    cursor: pointer;
    margin-right: auto;
    max-width: 10%;
    max-height: 10%;
}
.nav__links{
    list-style: none;
}
.nav__links li{
    display:inline-block;
    padding: 0px 10px;

}
.nav__links li a{
    transition: all 0.3s ease 0s;
}
.nav__links li a:hover{
    color: #a90000;
}

/* MAIN */
h3{
    color: white;
    font-size: 27px;
    font-family: 'Roboto';
}
.frame{
    max-width: 80%;
    box-shadow: 0px 0px 22px white;
    position: relative;
    left: 50px;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.frameButton{
    border: 1px solid white;
    border-radius: 25px;
    font-family: 'Roboto';
    width: 200px;
    height: 50px;
    margin: auto;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.frameButton:hover{
    background-color: rgb(155, 10, 10);
}
.frameContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}





/* FOOTER */

.footer{
    text-align: right;
    bottom: 0;
    width: 100%;
   
    
}

.footer__logo{
    max-width: 10%;
    margin-top: 20px;
    float: left;
    
}

.footer__logo2{
    max-width: 7%;
    float: left;
}

/* SOCIAL LINKS */

.footer__social{
    
    margin-bottom: 10px;
}

.footer__social-item{

display: inline-block;
padding: 10px;
}

.footer__social-link{

font-size: 20px;
}

.footer__links{
    list-style: none;
    padding-bottom: 20px;
}
.footer__links li{
    display:inline-block;
    padding: 0px 10px;

}

.footer__social li a,
.footer__links li a{
    transition: all 0.3s ease 0s;
}
.footer__social li a:hover,
.footer__links li a:hover{
    color: #a90000;
}
